- name: install python3-mysqldb
  apt:
    force_apt_get: yes
    state: latest
    name:
      - python3-mysqldb

- name: "roles/contestant/tasks/mariadb: Set temporary password"
  become_user: root
  blockinfile:
    create: yes
    dest: &myCnf /home/isucon/.my.cnf
    content: |
      [client]
      user = root
      password = root
      socket = /var/run/mysqld/mysqld.sock

- name: create mysql user
  mysql_user:
    login_host: localhost
    login_user: root
    login_password: root
    name: "{{ mysql_user }}"
    host: "{{ item }}"
    password: "{{ mysql_password }}"
    priv: "*.*:ALL,GRANT "
    state: present
  with_items:
    - localhost
    - "%"

- name: Create a new database with name '{{ mysql_database }}'
  community.mysql.mysql_db:
    name: "{{ mysql_database }}"
    state: present
- name: "roles/contestant/tasks/mariadb: Remove temporary file"
  file:
    path: *myCnf
    state: absent
